// _graphics.scss
// author: Colby Ludwig
// date: 2013-08-18

// vars
$transition-delay: 0.3s;
$rotation-amount: -4deg;
$scale-amount: 1.05;

// styling
body {
	background-color: hsla(0.0, 74%, 43%, 0.0);
}

.avatar {
	display: block;
	margin: 0 auto;
	width: 230px;
	height: 230px;
	-moz-border-radius: 110px;
	-webkit-border-radius: 110px;
	border-radius: 110px;

	border: 5px solid hsla(0%, 0.0, 0.0, 0.15);
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;

	background-image: url("https://alpha-api.app.net/stream/0/users/@colby/avatar?w=230");
	background-repeat: no-repeat;

	-moz-transition: -moz-transform $transition-delay ease, box-shadow $transition-delay ease;
	-webkit-transition: -webkit-transform $transition-delay ease, box-shadow $transition-delay ease;
	-o-transition: -o-transform $transition-delay ease, box-shadow $transition-delay ease;
	transition: transform $transition-delay ease, box-shadow $transition-delay ease;
}

.avatar:hover {
	-moz-transform: scale($scale-amount) rotate($rotation-amount);
	-webkit-transform: scale($scale-amount) rotate($rotation-amount);
	-o-transform: scale($scale-amount) rotate($rotation-amount);
	transform: scale($scale-amount) rotate($rotation-amount);

	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
}